<section class="past_activity">
<h2>Past Activity</h2>

<small><table>
<% for apicall in three_most_recent_apicalls(@user) %>
<tr>
  <td class="datetime"><h6><%=h apicall.created_at.to_date %></h6></td>
  <td class="past-activity">You archived 
	<%= link_to((apicall.statuses.size).to_s + pluralize_statuses(apicall), show_html_url(:id => apicall.id)) %>

  <% unless attribute_empty?(apicall, "since") %>
	starting from <span class="past-activity-date"><%=h apicall.since %></span>
  <% end %>

  <% unless attribute_empty?(apicall, "until") %>
	 up through <span class="past-activity-date"><%=h apicall.until %></span>
  <% end %>

 in <%= link_to(apicall.output_format, :controller => "apicalls", :action => find_action(apicall), :id => apicall.id) %> format.
</td>
</tr>
<% end %>

</table>
<small><%= link_to("View all past activity", "/users/past_activity") %></small>
</small>
</section>
