<span class="logout", id="past_activity_logout"><%= fb_logout_link("Logout", request.url) %></span>
<span class="back-link"><%= link_to("<< back", :controller => "welcome") %></span>

<section>
<small>
<table>
<% for apicall in sorted_history(@user) %>
<tr>
  <td class="datetime"><h6><%=h apicall.created_at.to_date %></h6></td>
  <td class="past-activity">
You archived <%= link_to((apicall.statuses.size).to_s + pluralize_statuses(apicall), show_html_url(:id => apicall.id)) %>

<% unless attribute_empty?(apicall, "since") %>
 from <span class="past-activity-date"><%=h apicall.since %></span>
<% end %>
<% unless attribute_empty?(apicall, "until") %>
 to <span class="past-activity-date"><%=h apicall.until %></span>
<% end %>
 in 
<%= link_to(apicall.output_format, :controller => "apicalls", :action => find_action(apicall), :id => apicall.id) %> format.</td>
</tr>
<% end %>
</table>
</small>
<span class="back-link"><%= link_to("<< back", root_url) %></span>
</section>
